extends layout

block content

  h1 Welkom bij #[em Scouts en Gidsen Lede]
  p Welkom op de website van Scouts en Gidsen Lede, dé jeugdbeweging voor jongens en meisjes.
    br
    | Wil je op de hoogte blijven van wat er gebeurt in onze scoutsgroep, schrijf je dan in op onze nieuwsbrief.

  p Lid worden? Kom gerust even langs op zondagnamiddag om 14uur!
    br
    | (Meer info -> Mail naar info@scoutslede.be)

  p Inschrijvingsgeld 2019-2020?
    br
    | Schrijf #[strong 35,- euro] over op rekeningnummer #[strong BE34 7371 1104 0690]
    br
    | Met vermelding van #[strong Naam + Tak]

  p (Scoutsinfo voor ouders van nieuwe leden: 
    a(href='https://www.scoutsengidsenvlaanderen.be/files/publicaties/documenten/2013-de-kleine-gids_5.pdf') download De Kleine Gids!) 
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2512.7887995248566!2d3.963236615635817!3d50.96460897954964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c399edfd1eeefd%3A0xe75c3872d3d3bcd2!2sScouts%20%26%20Gidsen%20Lede!5e0!3m2!1snl!2sbe!4v1572537247197!5m2!1snl!2sbe", width="100%", height="450", frameborder="0", style="border:0;", allowfullscreen="")