<<<<<<< HEAD
extends layout

block content
  h3 Video
=======
extends layout

block content
  h3 Video
>>>>>>> bb8cbcef444865837e57b17b76298b5ed1f020e7
  iframe(width="100%", height="500", src="https://www.youtube.com/embed/xy15VweOsFQ", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)