<<<<<<< HEAD
extends layout

block content 
  h1  Onze lokalen zijn terug beschikbaar voor verhuur!!
  p Hieronder wat meer info over onze lokalen en de omeving.
  p Onze verhuurkalender en de gegevens van onze contactpersoon, kan je onderaan de pagina terugvinden.
  
  h2 Verhuur Verantwoordelijke
  p Rosalie Govaert  
  a(href="mailto:verhuur.lede@gmail.com") verhuur.lede@gmail.com
  
  h2 Omgeving

  h3 Spelen:
  ul
    li Gemeentelijk speelplein (1,3km) Speeltuin, basket- en voetbalplein,… 
    li Kasteel van Mesen (1,9km) Groot park/speelbos
    li (Molen)beek aan het einde van de aardeweg

  h3 Sport:
  ul
    li Sporthal Ommegang (1,3km)
    li Dichtstbijzijnde zwembad: Wetteren (7,9km), Aalst (9,2km)

  h3 Eten en drinken:
  ul
    li 2 bakkers
    li 5 tal frituren
    li 2 pizzeria’s
    li pittazaak
    li vele cafés

  h3 Winkels:
  ul
    li Carrefour (1,2km)
    li Colruyt (1,2km)
    li Aldi (1,1km)
    li Delhaize (2,4km)
    li Nachtwinkel (1,1km)
    li Nachtwinkel (1,3km)

  h3 Ontspanning:
  ul
    li Bowling Erondegem (3,5km), 
    li Café Feedback Aalst: Kicker, pool, air hockey… (6,2km), 
    li Tragel Aalst: muurklimmen, poolen, bowling,… (6,8km), 
    li Rollerland Aalst: indoor ballen bad + rollerskatepiste (6,8km)
  p (Alles in Aalst is met de trein zeer makkelijk te bereiken)

  h3 Ligging:
  ul 
    li Station Lede (2,3km)
    li Aalst station 5min op de trein
    li Gent station 25min op de trein 
=======
extends layout

block content 
  h1  Onze lokalen zijn terug beschikbaar voor verhuur!!
  p Hieronder wat meer info over onze lokalen en de omeving.
  p Onze verhuurkalender en de gegevens van onze contactpersoon, kan je onderaan de pagina terugvinden.
  
  h2 Verhuur Verantwoordelijke
  p Rosalie Govaert  
  a(href="mailto:verhuur.lede@gmail.com") verhuur.lede@gmail.com
  
  h2 Omgeving

  h3 Spelen:
  ul
    li Gemeentelijk speelplein (1,3km) Speeltuin, basket- en voetbalplein,… 
    li Kasteel van Mesen (1,9km) Groot park/speelbos
    li (Molen)beek aan het einde van de aardeweg

  h3 Sport:
  ul
    li Sporthal Ommegang (1,3km)
    li Dichtstbijzijnde zwembad: Wetteren (7,9km), Aalst (9,2km)

  h3 Eten en drinken:
  ul
    li 2 bakkers
    li 5 tal frituren
    li 2 pizzeria’s
    li pittazaak
    li vele cafés

  h3 Winkels:
  ul
    li Carrefour (1,2km)
    li Colruyt (1,2km)
    li Aldi (1,1km)
    li Delhaize (2,4km)
    li Nachtwinkel (1,1km)
    li Nachtwinkel (1,3km)

  h3 Ontspanning:
  ul
    li Bowling Erondegem (3,5km), 
    li Café Feedback Aalst: Kicker, pool, air hockey… (6,2km), 
    li Tragel Aalst: muurklimmen, poolen, bowling,… (6,8km), 
    li Rollerland Aalst: indoor ballen bad + rollerskatepiste (6,8km)
  p (Alles in Aalst is met de trein zeer makkelijk te bereiken)

  h3 Ligging:
  ul 
    li Station Lede (2,3km)
    li Aalst station 5min op de trein
    li Gent station 25min op de trein 
>>>>>>> bb8cbcef444865837e57b17b76298b5ed1f020e7
